$border-radius: 15px;
.contact-button {
    @include flex-vertical-center;

    font: {
        size: 13px;
        weight: bold;
    }
    color: #3c3c3c;

    height: 42px;
    padding: 0 15px;
    border-radius: $border-radius;
    transition: all cubic-bezier(0.17, 0.82, 0.15, 0.8) 100ms;

    &:active {
        transform: translateY(2px);
    }

    // Elements:
    &__icon {
        width: 14px;
        height: 14px;

        border-left: 1px solid;
        box-sizing: content-box;
        padding-left: 8px;
        margin-left: 10px;
    }

    &__label {
        flex-grow: 1;
        text-align: center;
    }

    // Modifiers | Targets:
    $whatsapp-color: #4fdd2c;
    &--target--whatsapp {
        @include dashed-border(
            $width: 2px,
            $color: $whatsapp-color,
            $length: 8px,
            $gap: 8px,
            $radius: $border-radius
        );
        background-color: rgba($whatsapp-color, 30%);

        @include can-hover {
            &:hover {
                background-color: rgba($whatsapp-color, 40%);
            }
        }
    }
    &--target--whatsapp &__icon {
        border-color: $whatsapp-color;
    }

    $instagram-color: #ff3ce7;
    &--target--instagram {
        @include dashed-border(
            $width: 2px,
            $color: lighten($instagram-color, 10%),
            $length: 8px,
            $gap: 8px,
            $radius: $border-radius
        );

        background-color: rgba($instagram-color, 20%);
        @include can-hover {
            &:hover {
                background-color: rgba($instagram-color, 30%);
            }
        }
    }
    &--target--instagram &__icon {
        border-color: lighten($instagram-color, 10%);
    }

    $call-color: #ffcb00;
    &--target--call {
        @include dashed-border(
            $width: 2px,
            $color: $call-color,
            $length: 8px,
            $gap: 8px,
            $radius: $border-radius
        );
        background-color: rgba($call-color, 20%);
        @include can-hover {
            &:hover {
                background-color: rgba($call-color, 30%);
            }
        }
    }
    &--target--call &__icon {
        border-color: $call-color;
    }
}
