.instructor-trait {
    display: flex;

    // Elements:
    &__icon {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 15px;
        padding: 12px;
    }

    &__body {
        margin-right: 15px;
        align-self: center;
    }

    &__title {
        color: #384052;
        font-weight: bold;
        font-size: 15rem;
    }

    &__description {
        margin-top: 10px;
        color: #a2a2a2;
        font-size: 12rem;
    }

    // Modifiers | Colors:
    @each $name, $color in $colors {
        &--color--#{$name} &__icon {
            fill: $color;
            background-color: rgba($color, 15%);
        }
    }
}
