// Can we have a better name for this component? It's a component that looks like a link, but might functionally be a button.
.link {
    @include flex-vertical-center($inline: true);
    position: relative;
    font-weight: bold;
    cursor: pointer;
    will-change: transform;
    color: color("blue");
    // TODO: Put this into a variable
    transition: all cubic-bezier(0.17, 0.82, 0.15, 0.8) 100ms;

    @include can-hover {
        &:hover {
            color: darken(color("blue"), 20%);
        }
    }

    &:active {
        transform: translateY(2px);
        color: darken(color("blue"), 35%);
    }

    // Elements:
    &__icon {
        fill: currentColor;
        height: 0.33em;
        margin-right: 0.3em;
    }

    // Modifiers | Sizes:
    &--size--medium {
        font-size: 15rem;
        // font-size: 15px;
    }

    // Modifiers | Types:
    &--type--block-level {
        display: flex;
        user-select: none;
    }
}
