.star-rating {
    direction: ltr;
    display: inline-flex;

    // Elements:
    &__star {
        position: relative;
        height: 17px;
        width: 17px;

        &:not(:last-child) {
            margin-right: 6px;
        }
    }

    &__hollow-star {
        fill: #d4d4d4;
        width: 100%;
        height: 100%;
    }

    &__filled-star {
        fill: lighten(color("yellow"), 27%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
