.swipe-hint {
    color: color("yellow");
    @include margin-x(auto);

    &::before {
        content: "به سمت راست بکشید";
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        @include margin-x(auto);
        background-color: currentColor;
        border-radius: 50%;
        animation: swipe 1.8s cubic-bezier(0.75, 0.01, 0.15, 1) infinite;
    }
}

@keyframes swipe {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    50% {
        opacity: 50%;
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
}
