.course-hero-section {
    background-color: white;
    box-shadow: $white-card-shadow;
    margin-bottom: -100px;

    @include respond-to($below: large-1) {
        text-align: center;
        @include padding-y(30px);
    }

    @include respond-to($above: large-1) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr repeat(3, auto) 1fr; // What is the default value of these template properties?
        grid-template-areas:
            "main ."
            "main head"
            "main price"
            "main button"
            "main .";
        column-gap: 30px;
        @include padding-y(65px);
    }

    &__head {
        grid-area: head;
        overflow: hidden;
        @include aspect-ratio(16, 9);

        @include respond-to($below: large-1) {
            max-width: 400px;
            @include margin-x(auto);
            margin-bottom: 30px;
        }

        @include respond-to($above: large-1) {
            margin-bottom: 25px;
        }
    }

    &__image {
        @include fit-parent-aspect-ratio;
    }

    &__main {
        grid-area: main;
        align-self: center;

        @include respond-to($below: large-1) {
            margin-bottom: 35px;
        }
    }

    &__price {
        grid-area: price;

        @include respond-to($above: large-1) {
            margin-bottom: 20px;
        }
    }

    &__button {
        grid-area: button;

        @include respond-to($below: large-1) {
            position: fixed;
            width: 100%;
            bottom: 0;
            right: 0;
            border-radius: 0;
            z-index: z-index(course-hero-section-button);
        }
    }

    // Elements - Main:
    &__heading {
        // line-height: 30px;
    }

    &__title {
        font-size: 31px;
        display: inline;
        vertical-align: middle;
    }

    &__discount-mark {
        margin-right: 10px;
        vertical-align: middle;
    }

    &__description {
        margin-top: 17px;
        font: {
            size: 18px;
            weight: bold;
        }
        line-height: 36px;
        color: #404040;
    }

    &__feature-list {
        margin-top: 30px;
    }

    &__star-rating {
        margin-right: 15px;
        vertical-align: middle;
    }

    &__rating-mark {
        margin-right: 7px;
        vertical-align: middle;
    }
}
