// Brings the project to a consistent baseline.

// MiniReset: https://github.com/jgthms/minireset.css
// Modifications:
// - Added "outline: none" for the ":focus" state (of any element).
// - Added "display: block" for "svg" tags.
// - Removed reseting the font size of <h#> elements, since we override them in the other stylesheets.
// - Added "font: inherit;" to form elements.
// - Changed "box-sizing: inherit;" to "box-sizing: border-box;", since we don't need that modified version (explained here: https://bit.ly/3oMgQ5Z).
// - Added "border: none;" for "hr" elements. Because we don't to style them using their borders.
// - Added reset for "a" elements. Because we want to style them differently.
// - Added reset for "button" element to clear their default background and border + padding.

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    background: none;
    border: none;
    font: inherit;
}

img,
video {
    display: block;
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

td:not([align]),
th:not([align]) {
    text-align: left;
}

svg {
    display: block;
}

:focus {
    outline: none;
}

hr {
    border: none;
}

a {
    text-decoration: none;
    color: unset;
}
