.blazor-error-toast {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: fit-content;
    width: -moz-fit-content;
    @include margin-x(auto);
    padding: 15px 30px;
    z-index: z-index(blazor-error-toast);
    color: white;
    line-height: 2;
    background-color: semantic-color("alert");
    border-radius: $card-border-radius $card-border-radius 0 0;
    will-change: transform;
    animation: slide-up 0.7s cubic-bezier(0.25, 0.48, 0, 0.95);

    &__message {
        @include respond($until: medium-2) {
            display: block;
            text-align: center;
        }

        @include respond($from: medium-2) {
            display: inline;
            vertical-align: middle;
        }
    }

    &__refresh-button {
        border-bottom: 1px solid white;
        font-weight: bold;
        opacity: 0.8;
        user-select: none;
        cursor: pointer;

        @include can-hover {
            &:hover {
                opacity: 0.9;
            }
        }
        &:active {
            opacity: 1;
        }

        @include respond($until: medium-2) {
            display: block;
            width: fit-content;
            width: -moz-fit-content;
            @include margin-x(auto);
            margin-top: 10px;
        }

        @include respond($from: medium-2) {
            display: inline;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}
