.lecture-card {
    position: relative;
    margin-top: 30px;

    @include respond($until: small-4) {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "thumbnail main"
            "duration main";

        @include respond($until: small-3) {
            padding: 20px;
        }

        @include respond($from: small-3) {
            padding: 25px 30px;
        }
    }

    @include respond($from: small-4) {
        display: flex;
        align-items: center;
        padding: 25px 40px;
    }

    &__counter {
        color: #e7e7e7;
        user-select: none;

        @include respond($until: medium-3) {
            position: absolute;
            top: -17px;
            right: 0;
            height: 45px;
            background-color: white;
            @include padding-x(15px);
            padding-top: 3px;
            border-radius: $card-border-radius $card-border-radius 0 0;
            font-size: 30rem;
        }

        @include respond($from: medium-3) {
            min-width: 65px;
            font-size: 45rem;
            padding-left: 20px;
            margin-top: 5px;
        }
    }

    &__thumbnail {
        @include aspect-ratio(16, 9);
        overflow: hidden;

        @include respond($until: small-4) {
            grid-area: thumbnail;
            align-self: end;
            justify-self: center;

            @include respond($until: small-2) {
                width: 80px;
                border-radius: 10px;
            }

            @include respond($from: small-2, $until: small-3) {
                width: 100px;
                border-radius: 12px;
            }

            @include respond($from: small-3) {
                width: 120px;
                border-radius: 15px;
            }
        }

        @include respond($from: small-4) {
            width: 160px;
            flex-shrink: 0;
            border-radius: 15px;
        }

        // Dark overlay:
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(transparent, rgba(black, 50%));
        }
    }

    &__thumbnail-image {
        @include fit-parent-aspect-ratio;
        object-fit: cover;
    }

    &__thumbail-play-icon {
        z-index: 1;
        fill: white;
        margin-left: 5%; // To compensate for the visual weight of the polygon.
        opacity: 0.8;
        @include absolute-center;

        @include respond($until: small-3) {
            width: 15px;
        }

        @include respond($from: small-3, $until: small-4) {
            width: 20px;
        }

        @include respond($from: small-4) {
            width: 25px;
        }
    }

    &__main {
        @include respond($until: small-4) {
            grid-area: main;
            align-self: center;
            margin-right: 20px;
        }

        @include respond($from: small-4) {
            flex-grow: 1;
            margin-right: 30px;
        }
    }

    &__title {
        font: {
            size: 17rem;
            weight: bold;
        }
        line-height: 1.8;
    }

    &__description {
        font-size: 13rem;
        color: #7e7e7e;
        line-height: 2;
        margin-top: 0.5em;
    }

    &__lock-icon {
        fill: #dddddd;
        height: 27px;
        flex-shrink: 0;
        margin-right: 30px;

        @include respond($until: medium-2) {
            display: none;
        }
    }

    &__duration {
        @include respond($until: small-4) {
            grid-area: duration;
            align-self: start;
            justify-self: center;
            margin-top: 10px;
        }

        @include respond($from: small-4) {
            margin-right: 25px;
        }
    }
}
